@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.centralizar{
  text-align: center;
}

.afastamentoSuperior{
  margin-top: 1.5em
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.warning{
  background: 'yellow';
 }

 ::ng-deep .warning{
  background: 'yellow';
}
